{% extends 'base.html' %}

{% block title %}Вход в учетную запись{% endblock %}

{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>Ваши данные некорректны, Попробуйте снова.</p>
    {% else %}
        <p>Используйте форму для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}
