{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1>Восстановление вашего пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите дважды свой новый пароль</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароль"></p>
        </form>
    {% else %}
        <p>Ссылка на страницу смены пароля недействительна. Пожалуйста попробуйте сменить пароль снова.</p>
    {% endif %}
{% endblock %}