{% extends 'base.html' %}

{% block title %}Рабочий стол{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    {% with total_images_created=request.user.imges_created.count %}
        <p>
            Добро пожаловать на рабочий стол. Вы можете сохранить
            {{ total_images_created }} картинок{{ total_images_created|pluralize }}.
        </p>
    {% endwith %}

    <p>
        Перетащите кнопку в раздел закладок из меню в раздел закладок "картинки"
        с других сайтов.
        <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">
            Сохранить!
        </a>
    </p>

    <p>
        <br>
        Вы также можете <a href="{% url "edit" %}">настроить профиль</a>
        или
        <a href="{% url "password_change" %}">изменить пароль</a>.
    </p>
{% endblock %}
